@media (prefers-color-scheme: dark) {
  .reflect {
    background: #111;
    color: seashell;
  }

  .absorb {
    background: seashell;
    color: #111;
  }
}

@media (prefers-color-scheme: light) {
  .reflect {
    background: seashell;
    color: #111;
  }

  .absorb {
    background: #111;
    color: seashell;
  }
}
